html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.big-card{
	margin: 30px 0px 30px 0px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
	border-radius: 3px;
}

.card{
	padding: 30px;
}

.info{
	background-color: #3F51B5;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	height: 150%;
	line-height: 1;
}

.form-control{
	height: 50px;
	font-size: 20px;
}

.title{
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	font-size: 5em;
	text-align: center;
	margin: 0px;
}

.subtitle-name{
	font-family: 'Work Sans', sans-serif;
	margin:0px;
	font-size: 2.15em;
	text-align: center;
	font-weight: 200;
}

.time-card-header{
	margin:0px;
	padding-bottom: 30px;
}

.time-card-time{
	text-align: center;
	margin: 0px;
}

.subtitle-weather{
	font-family: 'Roboto', sans-serif;
	margin:0px;
	color: #4B5D6A;
	xtext-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.subtitle-card-main{
	margin:0px;
	color: #4B5D6A;
	padding:0px;
	xtext-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.subtitle-card-main-smaller{
	font-size: 1.0em;
	color: #4B5D6A;
	font-weight: bold;
}

.zero-margin{
	margin:0px;
}

.subtitle-card-minor{
	font-family: 'Roboto', sans-serif;
	color: #B9C0CA;
	padding:0px 0px 0px 0px;
	text-align: right;
	font-size: 1em;
}

.date{
	padding: 7px 0px 0px 0px;
}

.wind{
	margin: 0px;
	padding-top: 2.4px;
	text-align: left;
}

.humidity{
	margin:0px;
	text-align: left;
}
.city-conditions{
	line-height: 103%;
}

.current-condition{
	font-size: 0.7em;

}

h1{
	font-size: 2.7em;
}

.card-container{
	padding: 0px;
}

#search-area{
	padding: 30px;
}

.news-container{
}

.about-city{
	background-color: #f4f5f6;
	xpadding-top: 30px;
	min-height: 200px;
	margin: 0px;
}


.news-border{
	border-bottom: 1px solid #D5DBE0;
	width: 100%;
	padding: 15px 0px 0px 0px;
}
.news-card{
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}

.weather-widget-container{
	width:100%;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}
.weather-forecast-minicards {
	width: 25%;
	min-height:50px;
	color: #3D6AA2;
	text-align: center;
	background-color: #fff;
	border-radius: 0px;
	overflow: hidden;
	box-shadow: none;
	margin: 0;
	display: inline-block
}

.media-object{
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
}

.media-left{
	padding-top: 6px;
}

.weather-card-forecast{
	min-height: 50px;
}

.grid-icon{
	color: #B8BCC3;
	font-weight: 900;
	font-size: 2em;
	margin: 10px 0 10px 0;
}

.currWeath > .wi {
	color:white;
}

.grid-temp {
	color: #B8BCC3;
	padding:0;
}

.grid-day{
	color: #B8BCC3;
}


.weather-card-header {
	padding-bottom: 30px;

	margin:0px;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.header-`{
	margin:0px;
	
}

.current-forecast{
	height: 100%;
	width: 100%;
}

.weather-card-current {
	margin: 0px;
	padding-bottom: 30px;
	line-height: 500%;
}


.site-header{
	font-size: 1.5em;
}

.media-heading{
	font-weight: bold;
	color: black;
}

.topPadding{
	padding: 15px 0px 0px 0px;
}

.bottomPadding{
	padding: 0px 0px 15px 0px;
}

.media {
	color: black;
	padding: 30px 0px 15px 0px;
	margin:0px;
}

.media:nth-child(3){
	padding: 0px;
}

.media:nth-child(4){
	padding: 15px 0px 0px 0px;
}

.media-body a:link {
	color: black;
	font-size: 1.3em;
}

.media-body a:visited {
	color: #cccbcb;
}

/* mouse over link */
.media-body a:hover {
	text-decoration: underline;
}

.media-subheading {
	margin-bottom: 10px;
	font-size: 0.8em;
	font-style: italic;
}

.remove-symbol{
	font-size: 1.5em;
	color: #E91E63;
}

.form-control{
    -webkit-transition: box-shadow linear 0.15s;
    transition: box-shadow linear 0.15s;
}

.form-control:focus{
	border-color: #E91E63;
	box-shadow: 0 0 10px #E91E63;
}

.not-visible{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

.tooltips .tooltiptexts{
    visibility: hidden;
    width: 120px;
    background-color: #E91E63;
    color: #fff;
    text-align: center;
    font-size: .8em;
    border-radius: 3px;
    padding: 5px 3px;
    position: absolute;
    z-index: 100;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.tooltips:hover .tooltiptexts {
    visibility: visible;
}

.tooltips .tooltiptexts::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E91E63 transparent transparent transparent;
}

.input-group{
	width: 100%;
}

#autocomplete{
	width:100%;
	border-radius: 3px;
}

.container {
	padding-right: 50px;
	padding-left: 50px;
	height: 100%;
}

.pac-container, .pac-item, .pac-item, .pac-matched, .pac-item-query{
	color: #E91E63;
}

.weather-forecast-minicards:nth-child(2) {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #ececec;
}
.weather-forecast-minicards:nth-child(3) {
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #ececec;
}

#currIcon{
	display: inline-block;
}

.height{
	height: 90%;
}

.vert-align{
	display: flex;
	justify-content: center;
	align-items: center;
}

.current-time{
	font-size: 4.8em;
	line-height: 97%
}

.showy-text{
	font-weight: 400;
	padding:0px;
	color:#4B5D6A;
}

.weather-temp{
	font-size: 5.5em;
}

.align-right{
	text-align: right;
}
.am-pm{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color:#B9C0CA;
	font-size: 0.8em;
}

.time-widget-container{
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
	border-radius: 3px;
	margin: 0px 0px 30px 0px;
	width: 100%;
	height: 100%;
}

.time-weather-container{
	padding-right: 0px;
}

.news-container{
	padding-left: 0px;
}
